__pycache__/
*.py[cod]
*.egg-info/

.env
.venv/

.idea/
.DS_Store
*.swp

data/raw/
data/processed/
data/processed_cifar10_ll/

models/checkpoints/hf_models_res16/
models/checkpoints/hf_models_res32/
models/checkpoints/hf_models_res64/
models/checkpoints/hf_models_res128/
models/checkpoints/hf_models_res256/
models/checkpoints/ll_models/

.remi/
wandb/
